name: Deploy

on:
  push:
    branches: [main]
  pull_request:
    types:
      - closed

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Up services
        run: |
          docker compose down -v && docker compose up --build -d

